<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kadai of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h1 th:text="#{input.title}"></h1>
    <p th:text="#{input.message}"></p>
        <!-- パラメータpreviousに値が設定されていた場合 -->
     <p th:if="${param.previous!=null}" th:text="'前回入力された値は「' + ${param.previous[0]} +' 」です。'"></p>
        <form method="post" action="/output"><!-- ボタン押下時に飛ぶURLを定義 -->
        <input type="text" name="val">
        <button type="submit" th:text="#{button}"></button>
    </form>
</body>
</html>